header {
    background-color: $background-color;
    h1 {
        color: $text-color;
        font-size: 80px;
        text-align: center;
    }
    }
    .navbar {
    background-color: $background-color !important;
    ul {
        list-style: none;
        text-align: center;
        margin: 30px;
        padding: 20px;
        background-color: $background-color;
        li .nav-item {
        text-decoration: none;
        font-size: 18px;
        color: $text-color;
        text-align: center;
        &:hover {
            color: $hover-color;
        }
        }
    }
    } 
    .btn {
    border: 1px solid $btn-border-color;
    border-radius: 5px;
    &:hover {
        background-color: $hover-color;
    }
    }